{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div >

            </div>
            <div class="col-sm-12 col-md-6">
                <form method="GET" action="{% url 'serial_generator' %}">
                    <div class="form-floating my-3">
                        <textarea class="form-control" name="product_serial" placeholder="Insert only the product serial part" id="product-serial"></textarea>
                        <label for="product-serial">Product serial part</label>
                    </div>
                    <div class="form-floating my-3">
                        <textarea class="form-control" name="lower_number" placeholder="Insert the lower serial" id="lower"></textarea>
                        <label for="lower">Lower serial part</label>
                    </div>
                    <div class="form-floating my-3">
                        <textarea class="form-control" name="upper_number" placeholder="Insert the upper serial" id="upper"></textarea>
                        <label for="upper">Upper serial part</label>
                    </div>
                    <button type="submit" class="btn btn-success rounded-2">Generate</button>
                    <h1>{{cache}}</h1>
                </form>
            </div>
        </div>
    </div>
{% endblock %}